In [1]:
# Bring in all dependencies

import pandas as pd
import requests
import numpy as np
import json
import time
from datetime import date
from pprint import pprint
import sqlalchemy
#from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy import Column, Integer, String, Float
from config_poly import api_key
#from splinter import Browser
#from bs4 import BeautifulSoup
#from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Establish link to Russell 100 index wiki page
russell_url = "https://en.wikipedia.org/wiki/Russell_1000_Index"

# Creaters browser window for scraping
#executable_path = {'executable_path': ChromeDriverManager().install()}
#browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Visits url, creates soup object
#browser.visit(russell_url)
#soup = BeautifulSoup(browser.html, 'html.parser')

In [9]:
thing = pd.read_html(russell_url)
company_table = thing[2]
companies = company_table["Company"][0:50]
myCompanies = pd.unique(companies[0:50])
companies

0                                  2U
1                                  3M
2                 Abbott Laboratories
3                         AbbVie Inc.
4                             Abiomed
5                   Acadia Healthcare
6                           Accenture
7                 Activision Blizzard
8                       Acuity Brands
9                              Adient
10                         Adobe Inc.
11                           ADT Inc.
12                 Advance Auto Parts
13             Advanced Micro Devices
14                              AECOM
15                    AES Corporation
16          Affiliated Managers Group
17                              Aflac
18                               AGCO
19               Agilent Technologies
20              Agios Pharmaceuticals
21              AGNC Investment Corp.
22              Air Lease Corporation
23           Air Products & Chemicals
24                Akamai Technologies
25                   Alaska Air Group
26              Albemarle Corporation
27                              Alcoa
28    Alexandria Real Estate Equities
29            Alexion Pharmaceuticals
30                   Align Technology
31                           Alkermes
32              Alleghany Corporation
33                           Allegion
34              Alliance Data Systems
35                     Alliant Energy
36               Allison Transmission
37                           Allstate
38                     Ally Financial
39            Alnylam Pharmaceuticals
40            Alphabet Inc. (Class A)
41            Alphabet Inc. (Class C)
42                             Altria
43                             Amazon
44                       AMC Networks
45                             Amdocs
46                             AMERCO
47                             Ameren
48                  American Airlines
49        American Campus Communities
Name: Company, dtype: object

In [10]:
tickers = company_table["Ticker"][0:50]
myTickers = pd.unique(tickers)
tickers

0      TWOU
1       MMM
2       ABT
3      ABBV
4      ABMD
5      ACHC
6       ACN
7      ATVI
8       AYI
9      ADNT
10     ADBE
11      ADT
12      AAP
13      AMD
14      ACM
15      AES
16      AMG
17      AFL
18     AGCO
19        A
20     AGIO
21     AGNC
22       AL
23      APD
24     AKAM
25      ALK
26      ALB
27       AA
28      ARE
29     ALXN
30     ALGN
31     ALKS
32        Y
33     ALLE
34      ADS
35      LNT
36     ALSN
37      ALL
38     ALLY
39     ALNY
40    GOOGL
41     GOOG
42       MO
43     AMZN
44     AMCX
45      DOX
46     UHAL
47      AEE
48      AAL
49      ACC
Name: Ticker, dtype: object

In [6]:
# Initialize list to hold information from polygon.io
polygon_info = []
polygon_div = []

startTime = time.time()
#today = date.today()
#todays_date = today.strftime("%Y-%m-%d")

# Initializes counter to 0
count = 0

# Loops through list of ticker symbols
for ticker in tickers:
    
    # Checks if count equals 4, used to prevent exceeding 
    # the API call limit of 5 calls/minute
    if count == 4:
        # Tells program to wait a minute before running again
        time.sleep(90)
        
        # Ticker symbols to be used for API Call
        dataset_code = ticker
        
        # URLs for API Calls, the first for open and closed prices, 
        # the second for divident information
        url = f"https://api.polygon.io/v1/open-close/{dataset_code}/2021-04-23?unadjusted=true&apiKey={api_key}"
        div_url = f"https://api.polygon.io/v2/reference/dividends/{dataset_code}?&apiKey={api_key}"
        
        # Saving responses from both urls
        response = requests.get(url).json()
        div_response = requests.get(div_url).json()
        
        # Adding responses to info and div lists, respectively
        polygon_info.append(response)
        polygon_div.append(div_response)
        
        # Resets counter
        count = 0
        
    else:
        # Ticker symbols to be used for API Call
        dataset_code = ticker
        
        # URLs for API Calls, the first for open and closed prices, 
        # the second for divident information
        url = f"https://api.polygon.io/v1/open-close/{dataset_code}/2021-04-23?unadjusted=true&apiKey={api_key}"
        div_url = f"https://api.polygon.io/v2/reference/dividends/{dataset_code}?&apiKey={api_key}"
        
        # Saving responses from both urls
        response = requests.get(url).json()
        div_response = requests.get(div_url).json()
        
        # Adding responses to info and div lists, respectively
        polygon_info.append(response)
        polygon_div.append(div_response)
        
        # Increase counter by 2
        count += 2
#    print(response)

executionTime = (time.time() - startTime)

In [7]:
realTime = executionTime/60
realTime

24.379383834203086

In [11]:
company_table = pd.DataFrame({'Name':myCompanies,"Symbol":myTickers})

In [35]:
polygon_info_df = pd.DataFrame(polygon_info)
del polygon_info_df['status']
del polygon_info_df['afterHours']
del polygon_info_df['preMarket']
polygon_info_df = polygon_info_df[['symbol','from','open','high','low','close','volume']]

polygon_info_df

   symbol        from     open       high        low    close    volume
0    TWOU  2021-04-23    38.92    41.9500    38.5100    40.56   1339545
1     MMM  2021-04-23   201.00   203.1550   200.9900   202.20   1897775
2     ABT  2021-04-23   123.62   124.1100   122.6450   123.31   5272865
3    ABBV  2021-04-23   109.71   111.7699   109.5500   111.38   4671715
4    ABMD  2021-04-23   345.59   355.9400   344.7900   351.03    291367
5    ACHC  2021-04-23    61.88    62.7800    60.6500    62.19    331890
6     ACN  2021-04-23   290.19   292.8910   289.7000   291.74   1522374
7    ATVI  2021-04-23    93.70    94.0400    92.6900    93.02   4034299
8     AYI  2021-04-23   170.40   178.9200   170.0000   178.14    485923
9    ADNT  2021-04-23    46.13    48.8400    45.5000    48.60   1288861
10   ADBE  2021-04-23   508.79   517.4973   508.3950   515.84   2257590
11    ADT  2021-04-23     8.89     9.3200     8.7900     9.26   2888148
12    AAP  2021-04-23   200.98   201.3900   197.2700   199.75    523242
13    AMD  2021-04-23    80.21    83.3000    79.9600    82.76  49267281
14    ACM  2021-04-23    66.72    67.5400    66.4600    67.35    616412
15    AES  2021-04-23    28.23    28.5000    28.1700    28.30   3343105
16    AMG  2021-04-23   156.23   159.3800   156.2300   158.14    313148
17    AFL  2021-04-23    53.04    53.5700    52.8000    53.37   2831716
18   AGCO  2021-04-23   150.22   155.9500   149.7500   153.72    763006
19      A  2021-04-23   134.57   137.1200   134.5000   136.68   1508631
20   AGIO  2021-04-23    55.61    55.9900    54.4050    54.73    520185
21   AGNC  2021-04-23    17.38    17.5400    17.3000    17.47   6230709
22     AL  2021-04-23    46.78    47.4300    46.6500    47.24    363020
23    APD  2021-04-23   285.52   291.1100   284.7100   290.30    898558
24   AKAM  2021-04-23   105.68   108.0200   105.2200   107.01   2218359
25    ALK  2021-04-23    67.55    69.5500    67.2000    69.21   1211690
26    ALB  2021-04-23   156.05   167.8600   154.6700   161.23   1592839
27     AA  2021-04-23    33.98    34.8600    33.7602    34.71   4912439
28    ARE  2021-04-23   179.21   179.7100   177.5800   179.35    523430
29   ALXN  2021-04-23   167.30   167.7700   166.5700   166.92   1597394
30   ALGN  2021-04-23   616.00   624.7900   616.0000   620.12    537891
31   ALKS  2021-04-23    21.10    21.3500    20.7600    21.28   1268404
32      Y  2021-04-23   681.65   687.9500   672.1650   679.85     68511
33   ALLE  2021-04-23   134.78   138.8300   134.3000   138.35    956243
34    ADS  2021-04-23   105.51   107.7950   104.9500   107.07    360044
35    LNT  2021-04-23    57.03    57.0300    56.4200    56.44    983840
36   ALSN  2021-04-23    43.45    44.0150    43.1300    43.79    676797
37    ALL  2021-04-23   124.09   125.2700   123.6900   125.05   1198580
38   ALLY  2021-04-23    47.79    49.0300    47.1600    48.90   2430219
39   ALNY  2021-04-23   138.59   140.4700   135.6200   136.72    328130
40  GOOGL  2021-04-23  2267.00  2306.1175  2261.2500  2299.93   1455554
41   GOOG  2021-04-23  2283.47  2325.8200  2278.2100  2315.30   1435162
42     MO  2021-04-23    46.48    47.5100    46.4500    47.39   9193017
43   AMZN  2021-04-23  3319.10  3375.0000  3308.5000  3340.88   3196612
44   AMCX  2021-04-23    52.25    53.4500    51.4400    52.54    314438
45    DOX  2021-04-23    77.66    78.5600    77.5100    78.15    510262
46   UHAL  2021-04-23   597.89   599.4400   594.7100   595.67     34520
47    AEE  2021-04-23    84.78    85.1900    84.3200    84.78    971664
48    AAL  2021-04-23    20.27    21.2000    20.1800    21.11  48123875
49    ACC  2021-04-23    45.59    45.9300    45.2200    45.72    557269

In [36]:
all_div = polygon_div[1:]
div_amt_list = []
payDate = []
ticker_list = []

for div in all_div:
    result = div['results']
    
    if result == []:
        continue
        
    else:
        ticker = div["results"][0]['ticker']
        div_amt = div["results"][0]['amount']
        pay_date = div["results"][0]['paymentDate']
    
    ticker_list.append(ticker)
    div_amt_list.append(div_amt)
    payDate.append(pay_date)
    
polygon_div_df = pd.DataFrame({"Symbol":ticker_list,"Amount ($)":div_amt_list,"Payment Date":payDate})
polygon_div_df

   Symbol  Amount ($) Payment Date
0     MMM      1.4800   2021-03-12
1     ABT      0.4500   2021-02-16
2    ABBV      1.3000   2021-02-16
3     ACN      0.8800   2021-02-12
4    ATVI      0.4100   2020-05-06
5     AYI      0.1300   2021-02-01
6    ADNT      0.2750   2018-11-15
7    ADBE      0.0125   2005-04-12
8     ADT      0.0350   2021-04-01
9     AAP      0.2500   2021-04-02
10    AES      0.1500   2021-02-12
11    AMG      0.0100   2021-03-04
12    AFL      0.3300   2021-03-01
13   AGCO      0.1600   2021-03-15
14      A      0.1800   2020-10-28
15   AGNC      0.1200   2021-04-12
16     AL      0.1600   2021-04-07
17    APD      1.5000   2021-05-10
18    ALK      0.3750   2020-03-05
19    ALB      0.3900   2021-04-01
20     AA      0.0900   2016-11-25
21    ARE      1.0900   2021-04-15
22   ALLE      0.3600   2021-03-31
23    ADS      0.2100   2021-03-18
24    LNT      0.4030   2021-02-16
25   ALSN      0.1900   2021-03-05
26    ALL      0.8100   2021-04-01
27   ALLY      0.1900   2021-02-12
28     MO      0.8600   2021-04-30
29    DOX      0.3600   2021-04-23
30   UHAL      0.5000   2019-01-07
31    AEE      0.5500   2021-03-31
32    AAL      0.1000   2020-02-19
33    ACC      0.4700   2021-02-19

In [49]:
# Create sqlite database path
database_path = "russell_stock.sqlite"

# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{database_path}")

# use engine to connect to existing tables/db
Base = declarative_base()
conn = engine.connect()

# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
Base.metadata.create_all(engine)

# Use this to clear out the db
# ----------------------------------
Base.metadata.drop_all(engine)

In [50]:
# Define our General_Info table
class General_Info(Base):
    __tablename__ = 'general_info'
    __table_args__ = {'extend_existing': True}
    symbol = Column(String, primary_key=True)
    fromWhere = Column(String)
    open = Column(Float)
    high = Column(Float)
    low = Column(Float)
    close = Column(Float)
    volume = Column(Integer)

# Define our Dividend table
class Dividend(Base):
    __tablename__ = 'Dividend'
    __table_args__ = {'extend_existing': True}
    symbol = Column(String, primary_key=True)
    amount = Column(Float)
    payment_date = Column(String)

# Define our Company Table
class Company(Base):
    __tablename__ = 'company'
    __table_args__ = {'extend_existing': True}
    symbol = Column(String, primary_key=True)
    name = Column(String)

In [51]:
# Save references to each table (capital because they are considered classes) 
#Company = Database.classes.company
#Dividend = Database.classes.dividend
#Open_Close = Database.classes.open_close

In [52]:
#for i in polygon_info_df.index:
#    print(polygon_info_df['from'][i])


# insert dataframe into sqlite tables
#company_table.to_sql(name='company', con=engine, if_exists='replace', index=True)
#polygon_div_df.to_sql(name='dividend', con=engine, if_exists='replace', index=True)
#polygon_info_df.to_sql(name='open_close', con=engine, if_exists='replace', index=True)

In [55]:
for i in polygon_info_df.index:
    thisFrom = polygon_info_df["from"][i]
    thisSymbol = polygon_info_df["symbol"][i]
    thisOpen = polygon_info_df["open"][i]
    thisHigh = polygon_info_df["high"][i]
    thisLow = polygon_info_df["low"][i]
    thisClose = polygon_info_df["close"][i]
    thisVol = polygon_info_df["volume"][i]
    
    thisCompany = General_Info(fromWhere=thisFrom,symbol=thisSymbol,open=thisOpen,high=thisHigh,low=thisLow,close=thisClose,volume=thisVol)
    session = Session(bind="engine")
    session.add(thisCompany)
    session.commit()

AttributeError: 'Session' object has no attribute 'configure'

In [ ]:
engine.dispose()