In [1]:
# Bring in all dependencies

import pandas as pd
import requests
import numpy as np
import json
import time
from datetime import date
from pprint import pprint
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from config_poly import api_key
#from splinter import Browser
#from bs4 import BeautifulSoup
#from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Establish link to Russell 100 index wiki page
russell_url = "https://en.wikipedia.org/wiki/Russell_1000_Index"

# Creaters browser window for scraping
#executable_path = {'executable_path': ChromeDriverManager().install()}
#browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Visits url, creates soup object
#browser.visit(russell_url)
#soup = BeautifulSoup(browser.html, 'html.parser')

In [4]:
thing = pd.read_html(russell_url)
company_table = thing[2]
companies = company_table["Company"][0:50]
myCompanies = pd.unique(companies[0:50])

In [5]:
tickers = company_table["Ticker"][0:50]
myTickers = pd.unique(tickers)

In [6]:
# Initialize list to hold information from polygon.io
polygon_info = []
polygon_div = []

startTime = time.time()
#today = date.today()
#todays_date = today.strftime("%Y-%m-%d")

# Initializes counter to 0
count = 0

# Loops through list of ticker symbols
for ticker in tickers:
    
    # Checks if count equals 4, used to prevent exceeding 
    # the API call limit of 5 calls/minute
    if count == 4:
        # Tells program to wait a minute before running again
        time.sleep(90)
        
        # Ticker symbols to be used for API Call
        dataset_code = ticker
        
        # URLs for API Calls, the first for open and closed prices, 
        # the second for divident information
        url = f"https://api.polygon.io/v1/open-close/{dataset_code}/2021-04-23?unadjusted=true&apiKey={api_key}"
        div_url = f"https://api.polygon.io/v2/reference/dividends/{dataset_code}?&apiKey={api_key}"
        
        # Saving responses from both urls
        response = requests.get(url).json()
        div_response = requests.get(div_url).json()
        
        # Adding responses to info and div lists, respectively
        polygon_info.append(response)
        polygon_div.append(div_response)
        
        # Resets counter
        count = 0
        
    else:
        # Ticker symbols to be used for API Call
        dataset_code = ticker
        
        # URLs for API Calls, the first for open and closed prices, 
        # the second for divident information
        url = f"https://api.polygon.io/v1/open-close/{dataset_code}/2021-04-23?unadjusted=true&apiKey={api_key}"
        div_url = f"https://api.polygon.io/v2/reference/dividends/{dataset_code}?&apiKey={api_key}"
        
        # Saving responses from both urls
        response = requests.get(url).json()
        div_response = requests.get(div_url).json()
        
        # Adding responses to info and div lists, respectively
        polygon_info.append(response)
        polygon_div.append(div_response)
        
        # Increase counter by 2
        count += 2
#    print(response)

executionTime = (time.time() - startTime)

In [7]:
realTime = executionTime/60
realTime

24.403682378927865

In [8]:
company_table = pd.DataFrame({'Name':myCompanies,"Symbol":myTickers})

In [9]:
polygon_info_df = pd.DataFrame(polygon_info)
del polygon_info_df['status']
del polygon_info_df['afterHours']
del polygon_info_df['preMarket']
polygon_info_df

          from symbol     open       high        low    close    volume
0   2021-04-23   TWOU    38.92    41.9500    38.5100    40.56   1339545
1   2021-04-23    MMM   201.00   203.1550   200.9900   202.20   1897775
2   2021-04-23    ABT   123.62   124.1100   122.6450   123.31   5272865
3   2021-04-23   ABBV   109.71   111.7699   109.5500   111.38   4671715
4   2021-04-23   ABMD   345.59   355.9400   344.7900   351.03    291367
5   2021-04-23   ACHC    61.88    62.7800    60.6500    62.19    331890
6   2021-04-23    ACN   290.19   292.8910   289.7000   291.74   1522374
7   2021-04-23   ATVI    93.70    94.0400    92.6900    93.02   4034299
8   2021-04-23    AYI   170.40   178.9200   170.0000   178.14    485923
9   2021-04-23   ADNT    46.13    48.8400    45.5000    48.60   1288861
10  2021-04-23   ADBE   508.79   517.4973   508.3950   515.84   2257590
11  2021-04-23    ADT     8.89     9.3200     8.7900     9.26   2888148
12  2021-04-23    AAP   200.98   201.3900   197.2700   199.75    523242
13  2021-04-23    AMD    80.21    83.3000    79.9600    82.76  49267281
14  2021-04-23    ACM    66.72    67.5400    66.4600    67.35    616412
15  2021-04-23    AES    28.23    28.5000    28.1700    28.30   3343105
16  2021-04-23    AMG   156.23   159.3800   156.2300   158.14    313148
17  2021-04-23    AFL    53.04    53.5700    52.8000    53.37   2831716
18  2021-04-23   AGCO   150.22   155.9500   149.7500   153.72    763006
19  2021-04-23      A   134.57   137.1200   134.5000   136.68   1508631
20  2021-04-23   AGIO    55.61    55.9900    54.4050    54.73    520185
21  2021-04-23   AGNC    17.38    17.5400    17.3000    17.47   6230709
22  2021-04-23     AL    46.78    47.4300    46.6500    47.24    363020
23  2021-04-23    APD   285.52   291.1100   284.7100   290.30    898558
24  2021-04-23   AKAM   105.68   108.0200   105.2200   107.01   2218359
25  2021-04-23    ALK    67.55    69.5500    67.2000    69.21   1211690
26  2021-04-23    ALB   156.05   167.8600   154.6700   161.23   1592839
27  2021-04-23     AA    33.98    34.8600    33.7602    34.71   4912439
28  2021-04-23    ARE   179.21   179.7100   177.5800   179.35    523430
29  2021-04-23   ALXN   167.30   167.7700   166.5700   166.92   1597394
30  2021-04-23   ALGN   616.00   624.7900   616.0000   620.12    537891
31  2021-04-23   ALKS    21.10    21.3500    20.7600    21.28   1268404
32  2021-04-23      Y   681.65   687.9500   672.1650   679.85     68511
33  2021-04-23   ALLE   134.78   138.8300   134.3000   138.35    956243
34  2021-04-23    ADS   105.51   107.7950   104.9500   107.07    360044
35  2021-04-23    LNT    57.03    57.0300    56.4200    56.44    983840
36  2021-04-23   ALSN    43.45    44.0150    43.1300    43.79    676797
37  2021-04-23    ALL   124.09   125.2700   123.6900   125.05   1198580
38  2021-04-23   ALLY    47.79    49.0300    47.1600    48.90   2430219
39  2021-04-23   ALNY   138.59   140.4700   135.6200   136.72    328130
40  2021-04-23  GOOGL  2267.00  2306.1175  2261.2500  2299.93   1455554
41  2021-04-23   GOOG  2283.47  2325.8200  2278.2100  2315.30   1435162
42  2021-04-23     MO    46.48    47.5100    46.4500    47.39   9193017
43  2021-04-23   AMZN  3319.10  3375.0000  3308.5000  3340.88   3196612
44  2021-04-23   AMCX    52.25    53.4500    51.4400    52.54    314438
45  2021-04-23    DOX    77.66    78.5600    77.5100    78.15    510262
46  2021-04-23   UHAL   597.89   599.4400   594.7100   595.67     34520
47  2021-04-23    AEE    84.78    85.1900    84.3200    84.78    971664
48  2021-04-23    AAL    20.27    21.2000    20.1800    21.11  48123875
49  2021-04-23    ACC    45.59    45.9300    45.2200    45.72    557269

In [10]:
all_div = polygon_div[1:]
div_amt_list = []
payDate = []
ticker_list = []

for div in all_div:
    result = div['results']
    
    if result == []:
        continue
        
    else:
        ticker = div["results"][0]['ticker']
        div_amt = div["results"][0]['amount']
        pay_date = div["results"][0]['paymentDate']
    
    ticker_list.append(ticker)
    div_amt_list.append(div_amt)
    payDate.append(pay_date)
    
polygon_div_df = pd.DataFrame({"Symbol":ticker_list,"Amount ($)":div_amt_list,"Payment Date":payDate})

In [17]:
# Create sqlite database path
database_path = "russell_stock.sqlite"

# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{database_path}")

# use engine to connect to existing tables/db
Database = automap_base()
Database.prepare(engine, reflect=True)

# View all of the classes/tables that automap found
Database.classes.keys()

[]

In [18]:
# Save references to each table (capital because they are considered classes) 
#Company = Database.classes.company
#Dividend = Database.classes.dividend
#Open_Close = Database.classes.open_close

In [19]:
# insert dataframe into sqlite tables
company_table.to_sql(name='company', con=engine, if_exists='append', index=True)
polygon_div_df.to_sql(name='dividend', con=engine, if_exists='append', index=True)
polygon_info_df.to_sql(name='open_close', con=engine, if_exists='append', index=True)

In [ ]:
# Define our General_Info table
#class General Info(Base):
#    __tablename__ = 'general_info'
#    symbol = Column(String, primary_key=True)
#    open = Column(Float)
#    high = Column(Float)
#    low = Column(Float)
#    close = Column(Float)
#    volume = Column(Integer)
engine.dispose()

In [ ]:
# Define our Dividend table
#class Dividend(Base):
#    __tablename__ = 'Dividend'
#    symbol = Column(String, primary_key=True)
#    amount = Column(Float)
#    payment_date = Column(String)

In [ ]:
# Define our Company Table
#class company(Base):
#    __tablename__ = 'company'
#    symbol = Column(String, primary_key=True)
#    name = Column(String)